---
---

<div class="bg-white p-4 rounded-2xl shadow-xl max-w-[320px] mx-auto">
  
  <img 
    src="/images/image-qr-code.png" 
    alt="QR Code"
    class="rounded-xl w-full"
  />

  <div class="text-center mt-5 px-2">
    
    <h1 class="text-[20px] font-bold text-[#1f3251] leading-tight">
      Improve your front-end skills by building projects
    </h1>

    <p class="text-[15px] text-[#7b879d] mt-3">
      Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
    </p>

  </div>
</div>